.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    height: 100px;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px;
    border-bottom: 1px solid grey;
}

.logo{
    color: yellow;
}